@model IEnumerable<Cronos.Models.DashboardModels>
@using Cronos.Models;
@{
    ViewBag.Title = "DASHBOARD";
    
}


<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<!-- Main content -->
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-xs-12">
        <div class="box-body">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">WELCOME To Cronos Bonded Zone System Report @DateTime.Today</h3>
                </div>

            </div>
        </div>
    </div>
</div>

