<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version </b>: 1.02 (Published counter)
    </div>
    <strong> PT. EDI Indonesia | &copy; @DateTime.Today.Year </strong>
</footer>
