@using Cronos.Models
@{
    ViewBag.Title = "Pengeluaran Barang";
    List<StandartComboBox> Type = (List<StandartComboBox>)ViewData["bctypeOutgoing"];
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 col-md-2 control-label text-muted" style="text-align:left;">BC Type</label>
                        <label class="col-sm-1 col-md-1 control-label text-muted ">:</label>
                        <div class="col-sm-4 col-md-4">
                            <select id="bctype" class="form-control select2" style="width:100%">
                                <option value="">Pilih Type</option>
                                @foreach (var item in Type)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 col-md-2 control-label text-muted" style="text-align:left;">Dari Tanggal</label>
                        <label class="col-sm-1 col-md-1 control-label text-muted ">:</label>
                        <div class="col-sm-4 col-md-4">
                            <input id="txtDateFrom" type="text" class="form-control _Date" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 col-md-2 control-label text-muted" style="text-align:left;">Sampai Tanggal</label>
                        <label class="col-sm-1 col-md-1 control-label text-muted ">:</label>
                        <div class="col-sm-4 col-md-4">
                            <input id="txtDateTo" type="text" class="form-control _Date" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-sm-4 col-md-4">
                            <button class="btn btn-primary" onclick="ViewReportOutgoing()" style="width:100px"><span class="fa fa-eye"></span> Preiview</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('._Date').datepicker({
                autoclose: true,
                orientation: "bottom left",
                todayHighlight: true
            });

            $(".select2").select2();
        })
        toastr.options = {
            "positionClass": "toast-bottom-right",
            "timeOut": "1000",
            "preventDuplicates": true
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

        function ViewReportOutgoing() {
            var TglDari = $('#txtDateFrom').val();
            var TglKe = $('#txtDateTo').val();
            var bctype = $('#bctype').val();
            var _tgl1 = formatDate(TglDari);
            var _tgl2 = formatDate(TglKe);
            var CompanyName = '@ViewBag.CompanyName';
            if (TglDari == "") {
                toastr.warning('Pilih Tanggal Dari !')
                $("#txtDateFrom").focus();
            } else if (TglKe == "") {
                toastr.warning('Pilih Tanggal Sampai !')
                $("#txtDateTo").focus();

            } else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LaporanCustomOutgoing", "Reports")',
                    data: { facility: CompanyName, tgl1: _tgl1, tgl2: _tgl2, bctype: bctype },
                    success: function (data) {
                        if (!data.result) {
                            alert("Error");
                        }
                        else {
                            window.open("../Report/frm_report_outgoing.aspx", '_blank');
                        }
                    }
                });

            }
        }

        function Cancel() {

        }

    </script>
}


